h3 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 5px;
}

@media (max-width: 576px) {

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {

  .row.g-4 {
    gap: 1rem;
  }

  .card-title {
    font-size: 1.5rem !important;
  }
}